/*
      COLORES DEL ENCABEZADO
*/

      /*Color Beca y creditos subtitulo*/
      .byc
      {
        color: rgba(12, 89, 207, 1);
      }
      /*Informacion Actualizada */
      .InfoActualizada
      {
        color: rgba(0, 0, 0, 1);
      }
      /*Color Fecha*/
      .ClaseFecha{
        color: rgba(12, 89, 207, 1);
      }
      /* Color Rut*/
      .ClaseRut{
        color: rgba(12, 89, 207, 1);
      }
      /*Barra del rut bajo titulo*/
      .barraRUT
      {
        background-color:#EE8600;
      }
/*
      FIN COLORES DEL ENCABEZADO
*/

/*
      COLORES BLOQUES PRINCIPALES
*/
    /*bloque de infromacion mayor*/
    .bloqueInformacion
    {
      background-color:#82B2D3;
    }

    /*Color textos Datos Postulante*/
    .ColorDatosPostulante{
    color:rgba(3, 48, 118, 1);
    }
    /*colores recuadros Medianos en general*/
    .recuadroProceso
    {
      background-color:#EBEBEB;
    }
    /*colores recuadros Medianos especificos*/

        #primerano.recuadroProceso
        {
          background-color:#EBEBEB;
        }

        #complementarias.recuadroProceso
        {
          background-color:#EBEBEB;
        }

        #superiores.recuadroProceso
        {
          background-color:#EBEBEB;
        }

    /*colores recuadros pequeños especificos*/
        #primerano.recuadroBeneficio
        {
           background-color:#EE8600;
        }
        #complementarias.recuadroBeneficio
        {
          background-color:#EE8600;
        }

        #superiores.recuadroBeneficio
        {
           background-color:#EE8600;
        }

/* definir en caso de querer cambiar colores
.recuadroBeneficio.asignado
{
  background-color:#EBEBEB;
}

.recuadroBeneficio.noAsignado
{
  background-color:#EBEBEB;
}

.recuadroBeneficio.cumpleRequisitos
{
  background-color:#EBEBEB;
}

.recuadroBeneficio.noCumpleRequisitos
{
  background-color:#EBEBEB;
}
*/

/*
Color de Los nombre de la Proceso/Cladificacion mis Beneficios ej (Primer Año, Becas Complementarias)
*/
    .NombreProcesoBeneficios
    {
    color:rgba(230, 22, 16, 1);

    }
/*
Colores del Acordeon
*/
      #custom-accord .panel {
      background-color: #82B2D3;
      }
      /*Encabezado del Acordeon*/
      #custom-accord .panel-heading
      {
      color: rgba(3, 48, 118, 1);
      background-color: #82B2D3;
      border-color: rgb(226, 238, 121);

      }
      /*Cuerpo Acordeon*/
      #custom-accord .panel-body
      {
       background-color:  #82B2D3;

      }
      /* color de icono > en Acordeon especifico*/
      .iconoAccordeon
      {
        color: black;
      }

/*
Colores de Tooltip 
*/
.tooltip-inner {
    color: black;
    background-color:rgb(252, 211, 135);
    border: 2px black solid;
}
.tooltip-inner strong {
    font-size: 16px;
}
.tooltip.in {
    opacity: 1;
}
/* en prueba ..
.tooltip.top .tooltip-arrow {
    border-top-color: rgb(252, 211, 135);
}

.tooltip.right .tooltip-arrow {
    border-right-color:rgb(252, 211, 135);
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgb(252, 211, 135);
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgb(252, 211, 135);
}

*/


/*
Color quiero una beca:MisBeneficios
*/
.quieroBeca
{
  background-color:white;
  color:rgb(20, 100, 246);
}

/* Colores en línea de tiempo */
.timeline .etapa{
  fill:white;
}

.timeline .etapa:hover{
  fill:#FBFBFB;
}

.timeline .etapa.active {
  fill:rgba(255, 168, 52, 1);
}

.timeline .etapa .etiqueta{

   fill:rgb(0, 0, 0);
}
.timeline .etapa .numeros{

   fill:rgb(0, 0, 0);
}

/*Linea de tiempo Small */
@media (max-device-width: 767px) {

.timeline .etapa.active {
  fill:rgba(255, 168, 52, 1);
}
}