.barraRUT
{
  background-color:#EE8600;
}

.bloqueInformacion
{
  background-color:#82B2D3;
}

/* Definir si se quiere especificar color del bloque de Información */
/*
.bloqueInformacion.informacionDestacada
{
  background-color:#82B2D3;
}

.bloqueInformacion.datosPostulante
{
  background-color:#82B2D3;
}

.bloqueInformacion.misBeneficios
{
  background-color:#82B2D3;
}
*/

.recuadroProceso
{
  background-color:#EBEBEB;
}

 
Definir si se quiere especificar color del bloque de Información 

#primerano.recuadroProceso
{
  background-color:#EBEBEB;
}

#complementarias.recuadroProceso
{
  background-color:#EBEBEB;
}

#superiores.recuadroProceso
{
  background-color:#EBEBEB;
}


/* recueado de beneficios segun si es primer año, complementaria o superior */

#primerano.recuadroBeneficio
{

   background-color:#EE8600;
}
#complementarias.recuadroBeneficio
{

  background-color:#EE8600;
}

#superiores.recuadroBeneficio
{

   background-color:#EE8600;
}
/* definir lo siguiente ...
.recuadroBeneficio.asignado
{
  background-color:#EBEBEB;
}

.recuadroBeneficio.noAsignado
{
  background-color:#EBEBEB;
}

.recuadroBeneficio.cumpleRequisitos
{
  background-color:#EBEBEB;
}

.recuadroBeneficio.noCumpleRequisitos
{
  background-color:#EBEBEB;
}
*/
/*
Color de Los nombre de la Proceso/Cladificacion mis Beneficios ej (Primer Año, Becas Complementarias)
*/
.NombreProcesoBeneficios
{
color:rgba(230, 22, 16, 1);

}