.barraRUT
{
  background-color:#EE8600;
}

.bloqueInformacion
{
  background-color:#82B2D3;
}

/* Definir si se quiere especificar color del bloque de Información */
/*
.bloqueInformacion.informacionDestacada
{
  background-color:#82B2D3;
}

.bloqueInformacion.datosPostulante
{
  background-color:#82B2D3;
}

.bloqueInformacion.misBeneficios
{
  background-color:#82B2D3;
}
*/

.recuadroProceso
{
  background-color:#EBEBEB;
}

 
/*Definir si se quiere especificar color del bloque de Información */

#primerano.recuadroProceso
{
  background-color:#EBEBEB;
}

#complementarias.recuadroProceso
{
  background-color:#EBEBEB;
}

#superiores.recuadroProceso
{
  background-color:#EBEBEB;
}


/* recueado de beneficios segun si es primer año, complementaria o superior */

#primerano.recuadroBeneficio
{

   background-color:#EE8600;
}
#complementarias.recuadroBeneficio
{

  background-color:#EE8600;
}

#superiores.recuadroBeneficio
{

   background-color:#EE8600;
}
/* definir lo siguiente ...
.recuadroBeneficio.asignado
{
  background-color:#EBEBEB;
}

.recuadroBeneficio.noAsignado
{
  background-color:#EBEBEB;
}

.recuadroBeneficio.cumpleRequisitos
{
  background-color:#EBEBEB;
}

.recuadroBeneficio.noCumpleRequisitos
{
  background-color:#EBEBEB;
}
*/
/*
Color de Los nombre de la Proceso/Cladificacion mis Beneficios ej (Primer Año, Becas Complementarias)
*/
.NombreProcesoBeneficios
{
color:rgba(230, 22, 16, 1);

}

/*
Colores del Acordeon
*/
#custom-accord .panel {
background-color: #82B2D3;
}
#custom-accord .panel-heading
{
color: rgba(3, 48, 118, 1);
background-color: #82B2D3;
border-color: rgb(226, 238, 121);

}
/*accordion*/
#custom-accord .panel-body
{
 background-color:  #82B2D3;

}

/*
Colores de Tooltip 
*/
.tooltip-inner {
    color: black;
    background-color:rgb(252, 211, 135);
    border: 2px black solid;
}
.tooltip-inner strong {
    font-size: 16px;
}
.tooltip.in {
    opacity: 1;
}
/* en prueba ..
.tooltip.top .tooltip-arrow {
    border-top-color: rgb(252, 211, 135);
}

.tooltip.right .tooltip-arrow {
    border-right-color:rgb(252, 211, 135);
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgb(252, 211, 135);
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgb(252, 211, 135);
}

*/


/*
Color quiero una beca:MisBeneficios
*/
.quieroBeca
{
  background-color:white;
  color:rgb(20, 100, 246);
}

/* Colores en línea de tiempo */
.timeline .etapa{
  fill:white;
}

.timeline .etapa:hover{
  fill:#FBFBFB;
}

.timeline .etapa.active {
  fill:rgba(255, 168, 52, 1);
}

.timeline .etapa .etiqueta{

   fill:rgb(0, 0, 0);
}
.timeline .etapa .numeros{

   fill:rgb(0, 0, 0);
}
/*Linea de tiempo Small */
@media (max-device-width: 767px) {

.timeline .etapa.active {
  fill:rgba(255, 168, 52, 1);
}
}