.axis path,.axis line {fill: none;stroke: #000;shape-rendering: crispEdges;}

.js #browser_warning {display: none;}

.no-js .container {display: none;}

.highlight em {
  background-color: yellow;
}

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1024;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*
        ENCABEZADO
*/

/* Imagen del ministerio de Educacion*/
.logo
{
  position:relative;
  top:19px;
  left:12px;
  z-index: 1;
}

/*Color Beca y creditos subtitulo*/
.byc
{
  color: rgba(12, 89, 207, 1);
  font-size: 24px;
}

/* Informacion Actualizada Encabezado*/
.InfoActualizada
{
  text-align:right;
  margin-top:15px;
}

/*Color  y tamaño letra Fecha*/
.ClaseFecha
{
  color: rgba(12, 89, 207, 1);
  font-size: 24px;
}

/* Color y tamaño letra Rut*/
.ClaseRut{
  color: rgba(12, 89, 207, 1);
  font-size: 24px;
}
/* Boton Cerrar*/
.Acerrar
{
  font-size:15px;
  padding-left:10px;
  padding-right:10px;
  cursor: pointer;
  text-align: right;
}

/*parabra RUT*/
.rut
{
  font-size: 20px;
  margin:5px;
}

/*Texto titulo de los Procesos*/
.subtitulo
{
  color: rgba(3, 48, 118, 1);
  font-size: 24px;
}
/*  */
.cursos{
color:rgba(230, 22, 16, 1);
margin:15px;
}

/*Texto Subtitulo Login*/
.Bienvenidos{
   font-size:21px;
   padding: 30px;
}
/*
     PROCESOS EN GENERAL: Estilo por Defecto
*/

/* barra naranja header*/
.BarranaSuperior
{
  padding:1px;
  background-color:rgb(255, 197, 129);
}
/*Casos que necesiten un espacio a la derecha*/
.padding5px
{
  padding-left:5px;
}

/*Estilo Bloques Principales*/
.BloquesMayores
{
  margin-top:10px;
  margin-bottom:10px;
  padding: 15px;
  /*color por defecto bloques*/
  background-color: rgb(226, 238, 121); 
}
/**/
.errorMsg
{
  text-align: center;
  font-size: 22px;
  padding: 3px;
}
/**/
.margen
{
  margin-bottom:15px;
}
/**/
.margen2
{
  text-align:right;
  margin-bottom:15px;
}
/**/
.md{
  background-color: #D5D0D0;
  border: 2px solid #000000;
}

/*
    BLOQUE: INFORMACION DESTACADA

*/

/*color por defecto icono Informacion Destacada*/
.iconoInfoDest
{
color:blue;
}

/*
  BLOQUE: DATOS POSTULANTE
*/

/*Clase para puntajes */
.rectangulo
{
  width: 99%;
  border:1px solid rgb(146, 146, 146); 
  padding:5px;
  margin: 5px;
}
/*#complementarias.rectangulo
{
background-color: rgb(145, 228, 251);
}
#primerano.rectangulo
{
background-color: rgb(193, 208, 69);
}

#superiores.rectangulo
{
background-color: rgb(193, 208, 69);
}*/

/*color defecto recuadros pequeños de datospostulante*/
#datospostulante.rectangulo
{
  background-color:rgb(235, 235, 235);
}
/*informacion evaluacion del postulante*/
.infoevaluacion
{
  border:1px solid rgb(146, 146, 146);
  margin:2px;
  text-align:center;
  border-radius: 5px;
}
/*Color por defecto Datos Postulante*/
.ColorDatosPostulante{
color:rgba(3, 48, 118, 1);
}
/*texto superior en minirecuadro de evaluacion*/
.infosuperior
{
  padding-top: 2px;
  padding-bottom: 7px;
  background-color:rgb(0, 141, 177);color:white;
}
/*texto inferior en minirecuadro de evaluacion*/
.infoinferior
{
  background-color:rgb(254, 248, 160);
  color:black;
  font-size: 24px;
  border-radius: 5px;
}
/*Estilo en los Mensajes de datospostulante*/
.MensajesEspfeciales
{
padding:15px 15px 0 15px;
}

/*
    BLOQUE: MIS BENEFICIOS
*/

/*Palabra Beneficio Otorgado*/
.botorgado
{
  margin:5px;
  font-size: 20px;
  color:black;
  text-align:right;
}
/*Recuadro pequeño de MisBeneficios para identificador no Defecto*/
.beneficiosrectangulo
{
  /*height:65px;*/
  border:2px solid rgb(146, 146, 146);
  margin:4px;
  text-align:center;
  border-radius: 5px;
  padding:0 5px 1px 5px;
  /*color defecto para identificador no definidas*/
  background-color:rgb(255, 255, 255);
  cursor:pointer;
}
/*Recuadro pequeño de MisBeneficios estolo General*/
.recuadroBeneficio{
  /*height:65px;*/
  border:2px solid rgb(146, 146, 146);
  margin:4px;
  text-align:center;
  border-radius: 5px;
  padding:0 5px 1px 5px;
  cursor:pointer;
}
/*Estilo Recuadro Pequeño Cumple*/
.PreseleccionCumple
{
   /*height:65px;*/
  border:2px solid rgb(96, 96, 96);
  margin:4px;
  text-align:center;
  border-radius: 5px;
  padding:0 5px 1px 5px;
  background-color: rgb(98, 156, 68);
  cursor:pointer;
}
/*Estilo Recuadro Pequeño no Cumple*/
.PreseleccionNocumple
{
  /*height:65px;*/
  border:2px solid rgb(96, 96, 96);
  margin:4px;
  text-align:center;
  border-radius: 5px;
  padding:0 5px 1px 5px;
  background-color: rgb(214, 214, 214);
  cursor:pointer;
}
/*Estilo Recuadro Pequeño Cumple sin pointer*/
.PreseleccionCumpleSinP
{
  /*height:65px;*/
  border:2px solid rgb(96, 96, 96);
  margin:4px;
  text-align:center;
  border-radius: 5px;
  padding:0 5px 1px 5px;
  background-color: rgb(98, 156, 68);

}
/*Estilo Recuadro Pequeño no Cumple sin pointer*/
.PreseleccionNocumpleSinP
{
  /*height:65px;*/
  border:2px solid rgb(96, 96, 96);
  margin:4px;
  text-align:center;
  border-radius: 5px;
  padding:0 5px 1px 5px;
  background-color: rgb(214, 214, 214);

}
/***
    Pie de Mis Bineficios
***/

/* palabra Call Center*/
.callcenter
{
 font-size: 22px;
 text-align: left;
}
/*Estilo recuadro Quiero una beca*/
.quieroBeca
{
  background-color:white;
  border:1px solid rgb(20, 100, 246);
  padding:2px;color:rgb(20, 100, 246);
  font-size:17px;
  text-align:center;
  cursor:pointer;
}

/***
    CSS de Acordeon
***/

/*espacio el acordeon en general*/
#custom-accord
{
  padding: 10px 0 10px 0;
}
/*Color de encabezado y borde del acordeon*/
#custom-accord .panel-heading
{
  color: rgba(3, 48, 118, 1);
  background-color: rgb(226, 238, 121);
  border-color:rgb(226, 238, 121);

}
/*estilo del cuerpo del acordeon*/
#custom-accord .panel-body
{
  padding: 1px;
  margin: 1px;
  background-color: rgb(226, 238, 121); 
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/***
    Css de Efecto PopOver (PopUp)
***/

/*Estilo popover en general*/
.popover {
    padding: 3px;
    overflow: hidden;
    background: rgb(8, 68, 164);
    max-width: 510px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  }
/*Estilo Titulo popover*/
.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color:rgb(8, 68, 164);
    background-color: #f7f7f7;
    border-bottom: 2px solid rgb(8, 68, 164);
    -webkit-border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
  
  }
/*Estilo Contenido (cuerpo) popover*/
.popover-content {
    padding: 9px 14px;
    background-color: #ffffff;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
/*x de Cerrar El popover*/
.cerrar
{
  text-align: right;
}
/*EL COLOR de icono > en Acordeon*/
.iconoAccordeon
{
  color: black;
}
/*Cuando tiene monto asigando,dentro popover */
.MontoPopup
{
  position:relative;
  left:10%;
  border:2px solid red;
  padding:5px;
  width:60%;
  margin:15px;
  font-size:18px;
}

/***
    Barra Preceso: Efecto progress-bar
***/
.progress-bar { 
  transition: width 1s ease-in-out; 
}

/***
    Css Línea de Tiempo 
***/

/*pointer en etapas*/
.timeline .etapa{
  cursor: pointer;
}
/*tamaño letra Etapa activa*/
.timeline .etapa.active {
  font-size: 17px;
}
/*linea de tiempo mostrar/ocultar */
.mostrar-xs{
  display:block;
}
/*linea de tiempo mostrar/ocultar */
.ocultar-xs {
 display:none;
}

/*linea de tiempo en dispositivos xs real */
@media (max-device-width: 500px) {
/*linea de tiempo mostrar/ocultar */
.mostrar-xs {

 display:none !important;
}
/*linea de tiempo mostrar/ocultar */
.ocultar-xs {
 display:block !important;

}
  }

/***
    Css para Dispositivos Small 
***/
@media (max-width: 767px) {
/*Linea de tiempo */
/*texto de las etapas*/
.timeline .etapa {
  
  font-size: 12px;
}
/*texto de las etapas seleccionada*/
.timeline .etapa.active {
  font-size: 14px;
}
/* pie de Mis beneficios*/
.callcenter
{
 font-size: 20px;
 text-align: center;
}
/* subititulo login small*/
.Bienvenidos
{
   font-size:18px;
   padding: 15px;
}

}

/*
    PIE DE PAGINA
*/

/* Custom page footer */
.footer {
  text-align:center;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/*posicion del logo pie de pagina*/
.pie
{
  text-align:right;
}
