<div>
	<div ng-show="beneficio.estado=='asignado'"> 
		<div>Usted ha sido beneficado(a) con la <b>{{beneficio.nombre}}</b> y ha obtenido el siguiente monto anual:</div>
		<!--style convertir en clase cuando ya sea definitivo-->
		<div style="text-aling:center;">
				<div class="MontoPopup"> Monto Obtenido: <b>{{(beneficio.monto | currency).slice(0,-3) }}</b></div>
		</div>
		<div  ng-show="controller.isUndefined=beneficio.urlBeneficio" style=" text-align: right;"><a href="{{beneficio.urlBeneficio}}" target="_blank"><b>{{beneficio.nombre}}</b></a></div>
		<div ng-show="beneficio.pasos!=''">
			<div >
				<div style="cursor:pointer;" ng-click='controller.pasos.show=!controller.pasos.show'><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': controller.pasos.show, 'glyphicon-chevron-right': !controller.pasos.show}"></i> Pincha aquí para ver los pasos a seguir</div>
			</div>
			<div ng-show="controller.pasos.show" style="margin:10px;">
				{{beneficio.pasos}}
			</div>
		</div>
	</div>
	<div ng-show="beneficio.estado=='noAsignado'"> 
		<div>Usted <b>no ha sido beneficiado</b> con esta beca. Los motivos son:  </div>
		<div>1.- Por no haber egresado de enseñanza media de un establecimiento Municipal, Particular Subvencionado o de Administración Delegada,  </div>
		<div>2.- Por no estar dentro del 10% de los mejores alumnos de su colegio según las notas registradas en la base de datos del </div>
		<div  ng-show="controller.isUndefined=beneficio.urlBeneficio" style=" text-align: right;"><a href="{{beneficio.urlBeneficio}}" target="_blank"><b>{{beneficio.nombre}}</b></a></div>
		<div ng-show="beneficio.pasos!=''">
			<div >
				<div style="cursor:pointer;" ng-click='controller.pasos.show=!controller.pasos.show'><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': controller.pasos.show, 'glyphicon-chevron-right': !controller.pasos.show}"></i> Pincha aquí para ver los pasos a seguir</div>
			</div>
			<div ng-show="controller.pasos.show" style="margin:10px;">
				{{beneficio.pasos}}
			</div>
		</div>
	</div>
	<div ng-show="beneficio.estado=='cumpleRequisitos'"> 
		Usted <b>cumple con los requisitos</b> para obtener esta beca, conforme a la información que posee el Mineduc.
		<div  ng-show="controller.isUndefined=beneficio.urlBeneficio" style=" text-align: right;"><a href="{{beneficio.urlBeneficio}}" target="_blank"><b>{{beneficio.nombre}}</b></a></div>
		<div ng-show="beneficio.pasos!=''">
			<div >
				<div style="cursor:pointer;" ng-click='controller.pasos.show=!controller.pasos.show'><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': controller.pasos.show, 'glyphicon-chevron-right': !controller.pasos.show}"></i> Pincha aquí para ver los pasos a seguir</div>
			</div>
			<div ng-show="controller.pasos.show" style="margin:10px;">
				{{beneficio.pasos}}
			</div>
		</div>
	</div>
	<div ng-show="beneficio.estado=='noCumpleRequisitos'"> 
		<div>Usted <b>No cumple con los requisitos</b> para obtener esta beca, conforme a la información que posee el Mineduc. Las razones son:</div>
		<div>1. Por no tener Puntaje Nacional o Regional.  </div>
		<div>2. Por no haber egresado de enseñanza media de un establecimiento Municipal, Particular Subvencionado o de Administración Delegada</div>
		<div  ng-show="controller.isUndefined=beneficio.urlBeneficio" style=" text-align: right;"><a href="{{beneficio.urlBeneficio}}" target="_blank"><b>{{beneficio.nombre}}</b></a></div>
		<div ng-show="beneficio.pasos!=''">
			<div >
				<div style="cursor:pointer;" ng-click='controller.pasos.show=!controller.pasos.show'><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': controller.pasos.show, 'glyphicon-chevron-right': !controller.pasos.show}"></i> Pincha aquí para ver los pasos a seguir</div>
			</div>
			<div ng-show="controller.pasos.show" style="margin:10px;">
				{{beneficio.pasos}}
			</div>
		</div>
	</div>

	<div ng-show="beneficio.estado=='cumple'"> 
		Usted <b>cumple con los requisitos</b> para obtener esta beca, conforme a la información que posee el Mineduc.
		<div  ng-show="controller.isUndefined=beneficio.urlBeneficio" style=" text-align: right;"><a href="{{beneficio.urlBeneficio}}" target="_blank"><b>{{beneficio.nombre}}</b></a></div>
		<div ng-show="beneficio.pasos!=''">
			<div >
				<div style="cursor:pointer;" ng-click='controller.pasos.show=!controller.pasos.show'><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': controller.pasos.show, 'glyphicon-chevron-right': !controller.pasos.show}"></i> Pincha aquí para ver los pasos a seguir</div>
			</div>
			<div ng-show="controller.pasos.show" style="margin:10px;">
				{{beneficio.pasos}}
			</div>
		</div>
	</div>
	<div ng-show="beneficio.estado=='noCumple'"> 

		<div>Usted <b>No cumple con los requisitos</b> para obtener esta beca, conforme a la información que posee el Mineduc. Las razones son:</div>
		<div>1. Por no tener Puntaje Nacional o Regional.  </div>
		<div>2. Por no haber egresado de enseñanza media de un establecimiento Municipal, Particular Subvencionado o de Administración Delegada</div>
		<div  ng-show="controller.isUndefined=beneficio.urlBeneficio" style=" text-align: right;"><a href="{{beneficio.urlBeneficio}}" target="_blank"><b>{{beneficio.nombre}}</b></a></div>
		<div ng-show="beneficio.pasos!=''">
			<div >
				<div style="cursor:pointer;" ng-click='controller.pasos.show=!controller.pasos.show'><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': controller.pasos.show, 'glyphicon-chevron-right': !controller.pasos.show}"></i> Pincha aquí para ver los pasos a seguir</div>
			</div>
			<div ng-show="controller.pasos.show" style="margin:10px;">
				{{beneficio.pasos}}
			</div>
		</div>
	</div>
</div>