  <!--Accordion: Informacion Destacada-->
      <accordion-group is-open="controller.isOpenAccordion.mensajesDestacados">
        <accordion-heading>
         <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12">
           <p class="subtitulo"><i class="pull-left glyphicon iconoAccordeon" ng-class="{'glyphicon-chevron-down': controller.isOpenAccordion.mensajesDestacados, 'glyphicon-chevron-right': !controller.isOpenAccordion.mensajesDestacados}"></i> Información Destacada <span style="color:blue;"><i class="glyphicon glyphicon-exclamation-sign"></i></span></p>
          </div>
         </div>
        </accordion-heading>
        <!--Cuerpo de Informacion Destacada-->
        <!-- Bloque 1 - Información destacada -->
        <div class="divmayor bloqueInformacion">
         <div class="row">
           <div class="col-xs-12 col-md-12 col-lg-12">
            <div ng-repeat="(i, msg) in controller.data.mensajesDestacados">
              <div class="col-xs-2 col-md-1 col-lg-1">
                <p class="subtitulo" style="color:blue;text-align:right;"><i class="glyphicon glyphicon-exclamation-sign"></i></p>
              </div>
              <div class="col-xs-10 col-md-11 col-lg-11">
                <p> Mensaje General {{$index+1}}: <span ng-bind-html="msg"></span></p>
              </div>
            </div>
          </div>
         </div>
        </div><!-- Bloque 1 - Información destacada -->
       </accordion-group>
 <!--Accordion: Informacion Destacada-->