
        <!-- ETAPA: APELACION -->
        <!-- ---------------- -->
      <div class="col-xs-12 col-md-12 col-lg-12 apelacion" ng-show="controller.estadoSeleccionado[ProcesosBeneficio.identificador] == 'apelacion'">

        <!-- Mensaje definición etapa -->
        <div style="padding:5px;">
         <p>{{ProcesosBeneficio.etapas.apelacion.mensajeDefinicion}}</p>
        </div><!-- Mensaje definición etapa -->

        <!-- Mensajes generales -->
        <div style="padding:15px;">
         <p style="font-size:16px;" ng-repeat="mensaje in ProcesosBeneficio.procesos.apelacion.mensajesGenerales">{{mensaje}}</p>
        </div><!-- Mensajes generales -->

        <!-- Beneficios -->
        <div  ng-repeat="beneficio in ProcesosBeneficio.etapas.asignacion.beneficios" > 

         <!-- Recuadro beneficio -->
         <div class="col-xs-5 col-md-2 col-lg-1 beneficiosrectangulo recuadroBeneficio" id="{{ProcesosBeneficio.identificador}}" popup-beneficio ng-model="beneficio" td-template-url="'./templates/beneficio.html'">
          <!--Si esta asignado un icono sino el otro-->
          <div style="text-align:left;">
           <span style='color:green' ng-if="beneficio.estado == 'asignado'">
            <i class='glyphicon glyphicon-ok-circle' title='Pendiente'></i>
           </span>
           <span style='color:red' ng-if="beneficio.estado == 'noAsignado'">
            <i class='glyphicon glyphicon-remove-circle' title='Pendiente'></i>
           </span>
          </div>

          <div>{{beneficio.sigla}}</div>      
          <!-- monto > 0 || = 0 -->
            <div ng-if="beneficio.monto > 0">      
                <div style="height:20px;">{{(beneficio.monto | currency).slice(0,-3) }}</div>
            </div>
            <div ng-if="beneficio.monto == 0">      
                <div style="height:20px;"></div>
            </div>
          <!-- monto > 0 || = 0 -->
         </div><!-- Recuadro beneficio -->

        </div>
        <!-- Mensajes Especiales Apelacion -->
        <div  class="col-xs-12 col-md-12 col-lg-12 MensajesEspeciales" ng-repeat="mensaje in ProcesosBeneficio.etapas.apelacion.mensajesEspeciales" >
         <p><b>Mensaje Especial {{$index+1}}: </b>{{mensaje}}</p>
        </div><!-- Mensajes -->

      </div><!--Etapa: Apelacion -->