  <!-- ETAPA: PRESELECCION -->       
  <!-- ------------------- -->
      <div class="col-xs-12 col-md-12 col-lg-12 preseleccion" ng-show="controller.estadoSeleccionado[ProcesosBeneficio.identificador] == 'preseleccion'">

        <!-- Mensaje definición etapa -->
        <div style="padding:5px;">
         <p>{{ProcesosBeneficio.etapas.preseleccion.mensajeDefinicion}}</p>
        </div><!-- Mensaje definición etapa -->

        <!-- Mensajes generales -->
        <div style="padding:15px;">
         <p style="font-size:16px;" ng-repeat="mensaje in ProcesosBeneficio.etapas.preseleccion.mensajesGenerales">{{mensaje}}</p>
        </div><!-- Mensajes generales -->

        <!-- Beneficios -->
        <div  ng-repeat="beneficio in ProcesosBeneficio.etapas.preseleccion.beneficios" > 
         <!-- Recuadro beneficio -->
         <!--Inicio de Cumple en preseleccion-->
         <div class="col-xs-5 col-md-2 col-lg-1 cambiarluegopreseleccionCumple " id="{{ProcesosBeneficio.identificador}}" popup-beneficio ng-model="beneficio" td-template-url="'./templates/beneficio.html'" ng-if="beneficio.estado == 'cumpleRequisitos' || beneficio.estado == 'cumple'">
          <!--Si esta asignado un icono sino el otro-->
          <div style="text-align:left;">
           <span style='color:green' ng-if="beneficio.estado == 'cumpleRequisitos' || beneficio.estado == 'cumple'">
            <i class='glyphicon glyphicon-ok-circle' title='Pendiente'></i>
           </span>
           <span style='color:red' ng-if="beneficio.estado == 'noCumpleRequisitos' || beneficio.estado == 'noCumple'">
            <i class='glyphicon glyphicon-remove-circle' title='Pendiente'></i>
           </span>
          </div>

          <div>{{beneficio.sigla}}</div>      
          <div style="height:20px;">{{beneficio.monto }}</div>
         </div><!-- Fin Cumple en preseleccion-->
         <!--Inicio de No cumple en preseleccion-->
         <div class="col-xs-5 col-md-2 col-lg-1 cambiarluegopreseleccionNocumple " id="{{ProcesosBeneficio.identificador}}" popup-beneficio ng-model="beneficio" td-template-url="'./templates/beneficio.html'" ng-if="beneficio.estado == 'noCumpleRequisitos' || beneficio.estado == 'noCumple'">
          <!--Si esta asignado un icono sino el otro-->
          <div style="text-align:left;">
           <span style='color:green' ng-if="beneficio.estado == 'cumpleRequisitos' || beneficio.estado == 'cumple'">
            <i class='glyphicon glyphicon-ok-circle' title='Pendiente'></i>
           </span>
           <span style='color:red' ng-if="beneficio.estado == 'noCumpleRequisitos' || beneficio.estado == 'noCumple'">
            <i class='glyphicon glyphicon-remove-circle' title='Pendiente'></i>
           </span>
          </div>

          <div>{{beneficio.sigla}}</div>      
          <div style="height:20px;">{{beneficio.monto}}</div>
         </div><!-- Fin No cumple en preseleccion-->
        </div> 
        <div  ng-if="ProcesosBeneficio.nombre != 'Becas complementarias'">
                  <div class="col-xs-12 col-md-12 col-lg-4">
                   <div class="col-xs-2 col-md-1 col-lg-2 cambiarluegopreseleccionCumpleSinP">
                    <div style="height:20px;"></div>
                   </div>  
                   <div class="col-xs-8 col-md-6 col-lg-8">
                    <p><b>Cumple</b> requisitos para este beneficio</p>

                   </div><!-- Fin Cumple en preseleccion-->
                  </div> 
                  <div class="col-xs-12 col-md-12 col-lg-4">  
                   <div class="col-xs-2 col-md-1 col-lg-2 cambiarluegopreseleccionNocumpleSinP">
                    <div style="height:20px;"></div>
                   </div>  
                   <div class="col-xs-8 col-md-6 col-lg-8">
                    <p><b>No Cumple</b> requisitos para este beneficio</p>
                   </div> 
                  </div>
        </div>
        <!--solucion propuesta para que cuando hay pocas becas no quede horizontal -->
        <div  ng-if="ProcesosBeneficio.nombre == 'Becas complementarias'">
                  <div class="col-xs-12 col-md-12 col-lg-8">
                   <div class="col-xs-2 col-md-1 col-lg-1 cambiarluegopreseleccionCumpleSinP">
                    <div style="height:20px;"></div>
                   </div>  
                   <div class="col-xs-8 col-md-6 col-lg-8">
                    <p><b>Cumple</b> requisitos para este beneficio</p>

                   </div><!-- Fin Cumple en preseleccion-->
                  </div> 
                  <div class="col-xs-12 col-md-12 col-lg-8">  
                   <div class="col-xs-2 col-md-1 col-lg-1 cambiarluegopreseleccionNocumpleSinP">
                    <div style="height:20px;"></div>
                   </div>  
                   <div class="col-xs-8 col-md-6 col-lg-8">
                    <p><b>No Cumple</b> requisitos para este beneficio</p>
                   </div> 
                  </div>
        </div>
        <!-- Mensajes Especiales preseleccion -->
        <div  class="col-xs-12 col-md-12 col-lg-12 MensajesEspeciales" ng-repeat="mensaje in ProcesosBeneficio.etapas.preseleccion.mensajesEspeciales">
           <p><b>Mensaje Especial {{$index+1}}: </b>{{mensaje}}</p>
        </div><!-- Mensajes -->      
      </div>